<div class="edit-category-form">
  <% if (locals.errors) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitCategoryPath %>" method="POST">
    <% if (!category.isNewRecord) { %>
      <input type="hidden" name="_method" value="PATCH" />
    <% } %>
    <div class="panel">
      <label class="edit-label" for="name">Nombre:</label>
      <input type="text" name="name" size="40" value="<%= category.name %>" required/>
      <label class="edit-label" for="description">Descripción:</label>
      <textarea rows="8" cols="100" type="text" required name="description"><%= category.description %></textarea>
      <% if (category.isNewRecord) { %>
        <input  class="create-button" type="submit" name="create" value="Crear" />
      <% } else { %>
        <input  class="update-button" type="submit" name="update" value="Actualizar" />
      <% } %>
    </div>
  </form>
  <form action="<%- categoriesPath %>">
    <input class="back-button" type="submit" value="Volver" />
  </form>
</div>
