<div class="contenedor-body-show">
  <div class="material-show-head">
    <div class="material-show-element">
      <h1>Categoría</h1>
    </div>
    <div class="material-show-element">
      <form action="<%- newCategoryPath %>">
          <input class="material-add-button" type="submit" value="+" />
      </form>
    </div>
  </div>
  <div class="material-show-list">
    <div class="list-materials">
      <div class="title">
        <h2 class="label-content">Lista de Categorías</h2>
      </div>
      <% if (!categoriesList.length) { %>
        <div>
          <p>No hay categorías!</p>
        </div>
      <% } else { %>
      <div class="all-materials">
        <% categoriesList.forEach((category) => { %>
          <div class="material_container">
            <div class="material_element">
                <a class="material-name" id="material-text"><%- category.name %></a>
            </div>
            <div class="material_element">
              <a class="material-name" id="material-text"><%- category.description %></a>
            </div>
            <div class="material_element">
              <form action="<%- editCategoryPath(category) %>">
                <input class="boton-material" id="boton-material" type="submit" value="Editar" />
              </form>
            </div>
            <div class="material_element">
              <form action="<%- deleteCategoryPath(category) %>" onclick="return confirm('Estás seguro?');"
                method="POST">
                <input type="hidden" name="_method" value="delete" />
                <input class="boton-material" id="boton-material" type="submit" value="Eliminar" />
              </form>
            </div>
          </div>
        <% }) %>
      <% } %>
      </div>
    </div>
  </div>
  <div class="material-show-element">
    <form action="<%- rootPath %>">
      <input class="boton-material" id="boton-material" type="submit" value="Volver" />
    </form>
  </div>
</div>

