<div>
  <% if (locals.errors) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= votePatternPath %>" method="POST">
    <% if (votePattern) { %>
      <input type="hidden" name="_method" value="PATCH">
    <% } else { %>
      <div>
        <input type="hidden" name="patternId" value="<%= pattern.id %>">
      </div>
    <% } %>
    <div>
      <select name="rating" required>
        <% if (!votePattern) { %>
          <option value=""> Puntúa! </option>
        <% } %>
        <% options.forEach(option => { %>
          <% if ((votePattern) && (votePattern.rating === option)) { %>
            <option value="<%- option %>" selected><%- option %></option>
          <% } else { %>
            <option value="<%- option %>"><%- option %></option>
          <% } %>
        <% }); %>
      </select>
      <button class="submit-vote" type="submit">ok! <i class="fas fa-check"></i> </button>
    </div>
  </form>
</div>
