<div>
    <% if (locals.errors) { %>
      <div class="errors">
        Ocurrieron los siguientes errores:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    <form action="<%= submitVote_patternPath %>" method="post">
      <% if (vote_pattern.isNewRecord) { %>
        <div>
          <label for="userId">Votante:</label>
          <select name="userId" required>
            <% usersList.forEach(user => { %>
              <option value="<%- user.id %>"><%- user.username %></option>
            <% }); %>
          </select>
        </div>
        <div>
        <input type="hidden" id="patternId" name="patternId" value=<%- patternId %>>
        </div>
        <div>
          <label for="rating">Calidad:</label>
          <select name="rating" required>
            <% options.forEach(option => { %>
              <option value="<%- option %>"><%- option %></option>
            <% }); %>
          </select>
        </div>
        <input type="submit" name="create" value="Crear" />
      <% }%>
    </form>
  </div>
