<div>
  <% if (locals.errors) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= votePatternPath %>" method="POST">
    <% if (!votePattern.isNewRecord) { %>
      <input type="hidden" name="_method" value="PATCH">
    <% } else { %>
      <div>
        <input type="hidden" name="patternId" value="<%= pattern.id %>">
      </div>
    <% } %>
    <div>
      <label  class="parag" for="rating">Calidad:</label>
      <select  name="rating" required>
        <% options.forEach(option => { %>
          <option value="<%- option %>"><%- option %></option>
        <% }); %>
      </select>
    </div>
    <input id="boton-vote" type="submit" name="create" value="Puntuar" />
  </form>
</div>
