<h1>Votos</h1>
<div id="button">
    <form action="<%- newVote_patternPath %>">
        <input type="submit" value="Crear Voto" />
    </form>
</div>
<div id="panel">
<h2>Lista de Votos</h2>

<% if (!vote_patternsList.length) { %>
  <p>No hay Votos!</p>
<% } else { %>
  <table>
    <thead>
        <tr>
          <th>User_id</th>
          <th>Patron_id</th>
          <th>Rating</th>
          <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
      <% vote_patternsList.forEach((vote) => { %>
        <tr>
          <td><%- vote.userId %></td>
          <td><%- vote.patternId %></td>
          <td><%- vote.rating %></td>
          <td>
            <form action="<%- editVote_patternPath(vote) %>">
              <input type="submit" value="Editar" />
            </form>
          </td>
          <td>
            <form action="<%- deleteVote_patternPath(vote) %>" onclick="return confirm('Estás seguro?');" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Eliminar" />
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>
</div>
