<div>
  <% if (locals.errors) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitCommentPath %>" method="POST">
    <% if (!comment.isNewRecord) { %>
      <input type="hidden" name="_method" value="PATCH" />
    <% } %>
    <div class  ="panel">
      <% if (comment.isNewRecord) { %>
        <textarea rows="8" cols="47" type="text" required name="content"></textarea>
        <input type="hidden" id="patternId" name="patternId" value="<%= pattern.id %>">
      <% } else { %>
        <textarea class="input-comment-box" rows="8" cols="80" type="text" required name="content"><%= comment.content %></textarea>
      <% } %>
      <% if (comment.isNewRecord) { %>
        <input class="create-button" type="submit" name="create" value="Comentar" />
      <% } else { %>
        <input class="update-button" type="submit" name="update" value="Actualizar" />
      <% } %>
    </div>
  </form>
  <% if (!comment.isNewRecord) { %>
    <form action="<%- patternPath %>">
        <input class="back-button" type="submit" value="Volver" />
    </form>
  <% } %>
</div>
