<h1>Comentarios</h1>
<div id="button">
    <form action="<%- newCommentPath %>">
        <input type="submit" value="Crear Voto" />
    </form>
</div>
<div id="panel">
<h2>Lista de Comentarios</h2>

<% if (!commentsList.length) { %>
  <p>No hay Comentarios!</p>
<% } else { %>
  <table>
    <thead>
        <tr>
          <th>UserId</th>
          <th>Patron_id</th>
          <th>Contenido</th>
          <th colspan="2">Acciones</th>
        </tr>
    </thead>
    <tbody>
      <% commentsList.forEach((comment) => { %>
        <tr>
          <td><%- comment.userId %></td>
          <td><%- comment.patternId %></td>
          <td><%- comment.content %></td>
          <td>
            <form action="<%- editCommentPath(comment) %>">
              <input type="submit" value="Editar" />
            </form>
          </td>
          <td>
            <form action="<%- deleteCommentPath(comment) %>" onclick="return confirm('Estás seguro?');" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Eliminar" />
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } %>
</div>
