<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Knitter</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Dancing+Script" />
  </head>

  <body>
    <header>
      <div class="topnav" id="navbar">
        <div>
          <!-- poner logo-->
          <a class="nav-text" href="/">Home</a>
        </div>
        <div>
          <a class="nav-text" href="/patterns">Patrones</a>
        </div>
        <div class="hide-500">
          <a class="nav-text"  href="/categories">Categorías</a>
        </div>
        <div class="hide-690">
          <a class="nav-text" href="/materials">Materiales</a>
        </div>
        <!-- dar la opción de que el admin pueda ver esto-->
        <div class="hide-750">
            <a class="nav-text" href="/users">Usuarios</a>
        </div>
        <div>
            <% if (currentUser) { %>
              <span class="name">Hola <%= currentUser.username %>!</span>
              <form action="<%= destroySessionPath %>" method="post">
                <input type="hidden" name="_method" value="delete" />
                <input type="submit" value="Cerrar Sesión" />
              </form>
            <% } else { %>
              <a class="nav-text" href="<%= newSessionPath %>">Iniciar Sesión</a>
            <% } %>
            <% if (flashMessage) { %>
              <div class="alert-container"><br>
                <center><%= flashMessage.warning %></center>
              </div>
            <% } %>
        </div>
        <div class="nav-text">

        </div>
      </div>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
