<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Knitter</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    <header>
      <div class="topnav" id="navbar">
        <a class="active" href="/">Home</a>
        <a href="/patterns">Patrones</a>
        <a href="/categories">Categorías</a>
        <a href="/materials">Materiales</a>
        <a href="/users">Usuarios</a>
        <a href="/vote_patterns">Votos</a>
        <a href="/comments">Comentarios</a>
        <div id="user-bar">
          <% if (currentUser) { %>
            <span class="name">Hola <%= currentUser.username %></span>
            <form action="<%= destroySessionPath %>" method="post">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Logout" />
            </form>
          <% } else { %>
            <span class="name"></span>
            <a href="<%= newSessionPath %>">Login</a>
          <% } %>
        </div>
      </div>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
