<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Knitter</title>
    <% if (env !== 'development') { %>
      <link rel="stylesheet" href="<%= assetPath('app.css') %>">
    <% } %>
  </head>

  <body>
    <header>
      <div class="topnav" id="navbar">
        <a class="active" href="/">Home</a>
        <a href="/patterns">Patrones</a>
        <a href="/categories">Categorías</a>
        <a href="/materials">Materiales</a>
        <a href="/users">Usuarios</a>
        <% if (currentUser) { %>
          <span class="name">Hola <%= currentUser.username %>!</span>
          <form action="<%= destroySessionPath %>" method="post">
            <input type="hidden" name="_method" value="delete" />
            <input type="submit" value="Cerrar Sesión" />
          </form>
        <% } else { %>
          <a href="<%= newSessionPath %>">Iniciar Sesión</a>
        <% } %>
        <% if (flashMessage) { %>
          <div class="alert-container"><br>
            <center><%= flashMessage.warning %></center>
          </div>
        <% } %>
      </div>
    </header>
    <%- body %>
    <script src="<%= assetPath('app.js') %>"></script>
  </body>

</html>
