<div class="form">
  <% if (locals.errors) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitPatternPath %>" enctype="multipart/form-data" method="post">
    <% if (!pattern.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div class="panel">
        <label  class="edit-label" for="name">Nombre:</label>
        <input type="text" name="name" size="40" value="<%= pattern.name %>" required/>
        <label  class="edit-label" for="image">Imagen:</label>
        <% if (!pattern.isNewRecord) { %>
          <input  class="edit-label" type="file" name="image" value="<%= pattern.image %>" />
        <% } else { %>
          <input  class="edit-label" type="file" name="image" value="<%= pattern.image %>" required/>
        <% } %>
        <label  class="edit-label" for="tension">Tensión:</label>
        <input type="text" name="tension" size="40" value="<%= pattern.tension %>" required/>
        <label  class="edit-label" for="video">Link a Video de Youtube (opcional):</label>
        <input type="text" name="video" size="40" value="<%= pattern.video %>" />
        <label  class="edit-label" for="instructions">Instrucciones:</label>
        <textarea rows="8" cols="80" type="text" required name="instructions"><%= pattern.instructions %></textarea>
        <% if (pattern.isNewRecord) { %>
          <label  class="edit-label" for="categoryId">Categoría:</label>
          <select class="category-select" name="categoryId" required>
            <% categoriesList.forEach(category => { %>
              <option value="<%- category.id %>"><%- category.name %></option>
            <% }); %>
          </select>
        <% } %>
      <h3 for="materials">Materiales:</h3>
        <% materialsList.forEach(material => { %>
          <div class="materials-list-new-pattern">
            <p class="material-list-new-para"> <%- material[0].name %> </p>
            <% if (material[1]) { %>
              <input class="checkbox-material" type="checkbox" name="materials" value="<%- material[0].id %>" checked>
            <% } else { %>
              <input class="checkbox-material" type="checkbox" name="materials" value="<%- material[0].id %>">
            <% } %>
          </div>
        <% }); %>
        <% if (pattern.isNewRecord) { %>
          <input class="create-button" type="submit" name="create" value="Crear" />
        <% } else { %>
          <input class="update-button" type="submit" name="update" value="Actualizar" />
        <% } %>
      </div>
    </div>
  </form>
  <form action="<%- patternPath %>">
    <input class="back-button" id="boton-material" type="submit" value="Volver" />
  </form>
</div>
