<div class="form">
  <% if (locals.errors) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitPatternPath %>" enctype="multipart/form-data" method="post">
    <% if (!pattern.isNewRecord) { %>
      <input type="hidden" name="_method" value="patch" />
    <% } %>
    <div class="panel">
      <div class="panel-content">
        <label class="parag-list" for="name">Nombre:</label>
      </div>
      <div class="panel-content">
        <input type="text" name="name" size="40" value="<%= pattern.name %>" required/>
      </div>
      <div class="panel-content">
        <label class="parag-list" for="image">Imagen:</label>
      </div>
      <div class="panel-content">
        <% if (!pattern.isNewRecord) { %>
          <input class="input-list" type="file" name="image" value="<%= pattern.image %>" />
        <% } else { %>
          <input class="input-list" type="file" name="image" value="<%= pattern.image %>" required/>
        <% } %>
      </div>
      <div class="panel-content">
        <label class="parag-list" for="tension">Tensión:</label>
      </div>
      <div class="panel-content">
        <input type="text" name="tension" size="40" value="<%= pattern.tension %>" required/>
      </div>
      <div class="panel-content">
        <label class="parag-list" for="video">Link a Video (opcional):</label>
      </div>
      <div class="panel-content">
        <input type="text" name="video" size="40" value="<%= pattern.video %>" />
      </div>
      <div class="panel-content">
        <label class="parag-list" for="instructions">Instrucciones:</label>
      </div>
      <div class="panel-content">
        <textarea rows="8" cols="80" type="text" required name="instructions"><%= pattern.instructions %></textarea>
      </div>

      <% if (pattern.isNewRecord) { %>
        <div class="panel-content" id="category-pattern">
          <label class="parag-list" for="categoryId">Categoría:</label>
          <select class="category-select" name="categoryId" required>
            <% categoriesList.forEach(category => { %>
              <option value="<%- category.id %>"><%- category.name %></option>
            <% }); %>
          </select>
        </div>
      <% } %>
      <label class="parag-list" for="materials">Materiales:</label><br>
      <div class="material-checkbox-content">
        <% materialsList.forEach(material => { %>
          <div class="checkbox-container">
            <div class="material-checkbox">
              <p class="parag-list"> <%- material[0].name %> </p>
            </div>
            <div class="material-checkbox">
              <% if (material[1]) { %>
                <input class="checkbox" type="checkbox" name="materials" value="<%- material[0].id %>" checked>
              <% } else { %>
                <input class="checkbox" type="checkbox" name="materials" value="<%- material[0].id %>">
              <% } %>
            </div>
          </div>
        <% }); %>
      </div>
      <div class="panel-content">
        <% if (pattern.isNewRecord) { %>
          <input class="button-pattern" id="boton" type="submit" name="create" value="Crear" />
        <% } else { %>
          <input class="button-pattern" id="boton" type="submit" name="update" value="Actualizar" />
        <% } %>
      </div>
    </div>
  </form>
</div>
