<div class="body-show-pattern">
  <div class="tittle-edit-delete">
    <div class="tittle-element">
      <h1><%- pattern.name %></h1>
    </div>
    <% if ((currentUser) && ((currentUser.id === pattern.authorId) || (currentUser.role === 'admin'))) { %>
      <div class="tittle-element">
        <form action="<%- editPatternPath %>">
          <input class="" type="submit" value="E" />
        </form>
      </div>
      <div class="tittle-element">
        <form action="<%- deletePatternPath %>" onclick="return confirm('Est치s seguro?');"
          method="POST">
          <input type="hidden" name="_method" value="delete" />
          <input class="" type="submit" value="-" />
        </form>
      </div>
      <div>
        <form action="<%- patternsPath %>">
            <input type="submit" value="Volver" />
        </form>
      </div>
    <% } %>
  </div>
  <div class="pattern-elements">
    <div class="pattern-photo">
      <img src="<%- pattern.image %>">
    </div>
    <div class="pattern-video">
        <iframe class="youtube-video" allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/<%= pattern.video.slice(32) %>?ecver=1&amp;iv_load_policy=1
          &amp;rel=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red"
           width="80%" height="160%" allowtransparency="true" frameborder="0">
        </iframe>
    </div>
  </div>
  <div class="pattern-elements-2">
    <div class="pattern-data">
      <div>
        <p class="parag">Dise침ado por: <a class= "parag" href="<%- authorPath %>"><%- author.username %></a></p>
      </div>
      <div>
        <p class="parag">Tensi칩n: <%- pattern.tension %></p>
      </div>
      <div>
        <p class="parag">Puntaje: <%- pattern.score %>/5</p>
      </div>
      <div>
        <p class="parag">Popularidad: <%- pattern.popularity %></p>
      </div>
      <% if (currentUser) { %>
        <div>
          <%- include('../vote_patterns/_form') %>
          <%- include('_formAdd') %>
          <%- include('_formFavorite') %>
        </div>
      <% } %>
    </div>
    <div class="pattern-materials">
      <div>
        <h2>Materiales:</h2>
      </div>
      <div>
        <% materials.forEach(material => { %>
          <p>- <%- material.name %><br>
        <% }); %>
      </div>
    </div>
    <div class="instruction-content">
      <h2>Instrucciones:</h2>
      <p><%- pattern.instructions %></p>
    </div>
  </div>
  <div class="pattern-comment">
    <div class="comment-pattern">
        <h2>Comentar</h2>
        <% if (currentUser) { %>
          <%- include('../comments/_form') %>
        <% } %>
    </div>
    <div class="pattern-comments">
      <div class="comment-tittle">
        <h2>Comentarios</h2>
      </div>

      <% patternComments.forEach(comment => { %>
        <div class="comment">
          <div class="comment-item">
            <p class="comment-text"><%- comment[0].content %></p>
            <p class="parag"> <%- comment[2] %> por <%- comment[1].username %> </p>
          </div>
          <% if ((currentUser) && ((currentUser.id === comment[1].id) || (currentUser.role === 'admin'))) { %>
          <div class="comment-item">
            <form action="<%- editCommentPath(comment[0]) %>">
              <input type="submit" value="Editar" />
            </form>
          </div>
          <div class="comment-item">
            <form action="<%- deleteCommentPath(comment[0]) %>" onclick="return confirm('Est치s seguro?');" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Eliminar" />
            </form>
          </div>
          <% } %>
        </div>
      <% }); %>
    </div>
  </div>
</div>

