<br>
<h1><%- pattern.name %></h1>
<br>
<div id="hcontainer">
    <div id="left">
        <h4><%- pattern.image %></h4>
    </div>
    <div id="middle">
        <p>Diseñado por: <%- author.username %></p>
        <p>Categoría: <%- category.name %></p>
        <p>Tensión: <%- pattern.tension %></p>
        <p>Puntaje: <%- pattern.score %>/5</p>
        <p>Materiales:</p>
        <% materials.forEach(material => { %>
            <p>- <%- material.name %><br>
        <% }); %>
    </div>
    <div id="right">
        <iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/<%= pattern.video.slice(32) %>?ecver=1&amp;iv_load_policy=1
            &amp;rel=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red"
        width="80%" height="160%" allowtransparency="true" frameborder="0">
        </iframe>
    </div>
</div>
<br><br>
<div id="long">
    <%- pattern.instructions %>
</div>
<h4>Comentarios</h4>
<div id="long">
  <div id="button">
      <form action="<%- newCommentPath %>">
          <input type="submit" value="Crear Comentario" />
      </form>
  </div>

  <table>
    <tbody>
        <% commentsList.forEach(comment => { %>
        <tr>
          <td><%- comment.content %>
          </td>
          <td>
            <form action="<%- editCommentPath(comment) %>">
              <input type="submit" value="Editar" />
            </form>
          </td>
          <td>
            <form action="<%- deleteCommentPath(comment) %>" onclick="return confirm('Estás seguro?');" method="POST">
              <input type="hidden" name="_method" value="delete" />
              <input type="submit" value="Eliminar" />
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<br><br>
<div id="button">
    <form action="<%- patternsPath %>">
        <input type="submit" value="Volver" />
    </form>
</div>
