<br>
<h1><%- pattern.name %></h1>
<br>
<div id="hcontainer">
    <div id="left">
        <h4><%- pattern.image %></h4>
    </div>
    <div id="middle">
        <p>Diseñado por: <%- author.username %></p>
        <p>Categoría: <%- category.name %></p>
        <p>Tensión: <%- pattern.tension %></p>
        <p>Puntaje: <%- pattern.score %>/5</p>
        <p>Materiales:</p>
        <% materials.forEach(material => { %>
            <p>- <%- material.name %><br>
        <% }); %>
    </div>
    <div id="right">
        <iframe allowFullScreen="allowFullScreen" src="https://www.youtube.com/embed/<%= pattern.video.slice(32) %>?ecver=1&amp;iv_load_policy=1
            &amp;rel=0&amp;yt:stretch=16:9&amp;autohide=1&amp;color=red"
        width="80%" height="160%" allowtransparency="true" frameborder="0">
        </iframe>
    </div>
</div>
<br><br>
<div id="long">
    <%- pattern.instructions %>
</div>
<% if (currentUser) { %>
  <%- include('../vote_patterns/_form') %>
<% } %>
<br><br>
<h2><%= commentsList.length %> Comentarios</h2>
<div id="long">
  <% if (currentUser) { %>
    <%- include('../comments/_form') %>
  <% } %>
  <% commentsList.forEach(comment => { %>
    <div id="hcontainer">
      <%- comment.content %>
      <% if ((currentUser) && ((currentUser.id === comment.userId) || (currentUser.role === 'admin'))) { %>
        <form action="<%- editCommentPath(comment) %>">
          <input type="submit" value="Editar" />
        </form>
        <form action="<%- deleteCommentPath(comment) %>" onclick="return confirm('Estás seguro?');" method="POST">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Eliminar" />
        </form>
      <% } %>
    </div>
  <% }) %>
</div>
<br><br>
<div id="button">
    <form action="<%- patternsPath %>">
        <input type="submit" value="Volver" />
    </form>
</div>
