<div class = "contenedor-body">
  <div class="user-session-login-content">
    <div class="border-css">
      <div>
          <% if (locals.notice) { %>
            <div className="notice"><%= notice %></div>
          <% } %>
      </div>
      <div >
        <h1 class="title">Knitter
        </h1>
      </div>
      <div >
        <% if (locals.error) { %>
          <div class="body-item" id="error">
            <a class="user-parag-list" ><%= error %></a>
          </div>
        <% } %>
      </div>
      <div class="login-sub-content">
        <form action="<%= createSessionPath %>" method="POST">
          <div class="body-item">
            <input type="hidden" name="_method" value="PUT" />
          </div>
          <div class="body-item">
            <label for="email"><p class="label-content">Correo:</p></label>
          </div>
          <div class="body-item">
            <input class="input" type="email" name="email" value="<%= locals.email %>" required/>
          </div >
          <div class="body-item">
            <label for="password"><p class="label-content">Contraseña:</p></label>
          </div>
          <div class="body-item">
            <input class="input" type="password" name="password" required/>
          </div>
          <div class="body-item">
            <div class="end-user-login">
              <input id="boton" type="submit" name="sign-in" value="Ingresar" />
            </div>
          </div>
        </form>
        <div class="end-user-login">
          <form action="<%- forgotPasswordPath %>">
            <input id="boton" type="submit" value="Olvidé mi Contraseña" />
          </form>
        </div>
        <div class="end-user-login">
          <form action="<%- newUserPath %>">
            <input  class="new-button" type="submit" value="Crear Usuario" />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
