<div class="form">
  <% if (locals.errors) { %>
    <div class="errors">
      <ul>
        <% errors.forEach(error => { %>
          <li><%= error.message %></li>
        <% }); %>
      </ul>
    </div>
  <% } %>
  <form action="<%= submitUserPath %>" method="POST">
    <% if (!user.isNewRecord) { %>
      <input type="hidden" name="_method" value="PATCH" />
    <% } %>
    <div class="panel">
      <div class="panel-content">
        <label class="parag-list" for="username">Nombre de Usuario:</label>
      </div>
      <div class="panel-content">
        <input class="input-list" type="text" name="username" size="40" value="<%= user.username %>" required/>
      </div>
      <div class="panel-content">
        <label class="parag-list" for="email">Correo:</label>
      </div>
      <div class="panel-content">
        <input class="input-list" type="text" name="email" size="40" value="<%= user.email %>" required/>
      </div>
      <div class="panel-content">
        <label class="parag-list" for="password">Contraseña:</label>
      </div>
      <div class="panel-content">
        <input class="input-list" type="password" name="password" size="40" required/>
      </div >
      <div class="panel-content">
        <label class="parag-list" for="r-password">Repetir Contraseña:</label>
      </div>
      <div class="panel-content">
        	<input class="input-list" type="password" name="r_password" size="40" required/>
      </div >
      <div class="panel-content">
        <label class="parag-list" for="age">Edad:</label>
      </div>
      <div class="panel-content">
        <input class="input-list" type="number" name="age" min="1" max="150" step="1" value="<%= user.age %>" required/>
      </div>
      <div class="panel-content">
        <label class="parag-list" for="age">Foto:</label>
      </div>
      <div class="panel-content">
        <input class="input-list" type="text" name="photo" size="40" value="<%= user.photo %>" required/>
      </div>
      <% if (!user.isNewRecord) { %>
        <div class="panel-content">
          <label class="parag-list" for="p_password">Contraseña Actual:</label>
        </div>
        <div class="panel-content">
          <input class="input-list" type="password" name="p_password" size="40" required/>
        </div>
      <% } %>
      <div class="button_space">
        <% if (user.isNewRecord) { %>
          <input id="boton" type="submit" name="create" value="Crear" />
        <% } else { %>
          <input id="boton" type="submit" name="update" value="Actualizar" />
        <% } %>
      </div>
    </div>
  </form>
</div>
