<div class="form">
    <% if (locals.errors) { %>
      <div class="errors">
        Ocurrieron los siguientes errores:
        <ul>
          <% errors.forEach(error => { %>
            <li><%= error.message %></li>
          <% }); %>
        </ul>
      </div>
    <% } %>
    <form action="<%= submitUserPath %>" method="POST">
      <% if (!user.isNewRecord) { %>
        <input type="hidden" name="_method" value="PATCH" />
      <% } %>
      <div class="panel">
        <div class="panel-content">
          <label class="user-parag-list" for="username">Nombre de Usuario:</label>
        </div>
        <div class="panel-content">
          <input class="user-input-list" type="text" name="username" size="40" value="<%= user.username %>" required/>
        </div>
        <div class="panel-content">
          <label class="user-parag-list" for="email">Correo:</label>
        </div>
        <div class="panel-content">
          <input class="user-input-list" type="text" name="email" size="40" value="<%= user.email %>" required/>
        </div>
        <div class="panel-content">
          <label class="user-parag-list" for="password">Contraseña:</label>
        </div>
        <div class="panel-content">
          <input class="user-input-list" type="password" name="password" size="40" value="<%= user.password %>" required/>
        </div >
        <div class="panel-content">
          <label class="user-parag-list" for="age">Edad:</label>
        </div>
        <div class="panel-content">
          <input class="user-input-list" type="number" name="age" min="0" max="150" step="1" value="<%= user.age %>" required/>
        </div>
        <div class="panel-content">
          <label class="user-parag-list" for="age">Foto:</label>
        </div>
        <div class="panel-content">
          <input class="user-input-list" type="text" name="photo" size="40" value="<%= user.photo %>" required/>
        </div>
        <div class="hide">
          <input type="hidden" name="role" value="common" />
        </div>
        <div class="button_space">
          <% if (user.isNewRecord) { %>
            <input id="boton" type="submit" name="create" value="Crear" />
          <% } else { %>
            <input id="boton" type="submit" name="update" value="Actualizar" />
          <% } %>
        </div>
      </div>
    </form>
  </div>
