<div class="contenedor-body">
  <div>
    <h1>Usuarios</h1>
  </div>
  <div>
    <% if (!usersList.length) { %>
      <p class="user-parag-list">No hay usuarios!</p>
    <% } else { %>
  </div>
  <div class="all-users">
    <% usersList.forEach((user) => { %>
      <div class="user_container">
        <a class="user_show" id="texto_de_pagina">
          Nombre: <%= user.username %>
        </a>
        <a class="user_show" id="texto_de_pagina">
          E-mail: <%= user.email %>
        </a>
        <a class="user_show" id="texto_de_pagina">
          Años: <%- user.age %>
        </a>
        <a class="user_show" id="texto_de_pagina">
          Rol: <%- user.role %>
        </a>
        <div class="user_show">
          <form action="<%- editUserPath(user) %>">
            <input id="boton" type="submit" value="Editar" />
          </form>
        </div>
        <div class="user_show">
          <form action="<%- deleteUserPath(user) %>" method="POST">
            <input type="hidden" name="_method" value="delete" />
            <input id="boton" type="submit" value="Eliminar" />
          </form>
        </div>
      </div>
    <% })} %>
  </div>
</div>
