
<div class="user-list-content">
  <div>
    <h1>Usuarios</h1>
  </div>
  <div>
    <% if (!usersList.length) { %>
      <p class="user-parag-list">No hay usuarios!</p>
    <% } else { %>
  </div>
  <div class="all-users">
    <% usersList.forEach((user) => { %>
      <div class="user-container">
        <div class="user-data">
            <a class="user-font"> Nombre: <%= user.username %> </a>
            <a class="user-font"> E-mail: <%= user.email %> </a>
            <a class="user-font"> Años: <%- user.age %> </a>
            <a class="user-font"> Rol: <%- user.role %> </a>
        </div>
        <div>
          <form action="<%- userPath(user) %>">
            <input class="see-profile" type="submit" value="Ver Perfil" />
          </form>
        </div>
        <div>
          <form action="<%- deleteUserPath(user) %>" onclick="return confirm('Estás seguro?');"
            method="POST">
            <input type="hidden" name="_method" value="delete" />
            <button class="delete-user" type="submit"><i class="fas fa-trash-alt fa-1.5x"></i><p class="delete-word">Eliminar</p></button>
          </form>
        </div>
      </div>
    <% })} %>
  </div>
</div>
