<div class="contenedor-body" id="body-container">
  <div class="content-new-user">
    <h1><%- user.username %></h1>
  </div>
  <div id="hcontainer">
      <div id="left">
          <h4><%- user.photo %></h4>
      </div>
      <div id="middle">
          <p>Correo: <%- user.email %></p>
          <p>Edad: <%- user.age %></p>
          <p>Seguidores: <%- user.popularity %></p>
      </div>
      <% if ((currentUser) && (currentUser.id !== user.id)) { %>
        <div>
          <%- include('_formFollow') %>
        </div>
      <% } %>
  </div>
  <h2>Patrones Creados</h2>
  <% if (!createdPatterns.length) { %>
    <div class="user_show">
      <p>No haz creado patrones!<p>
    </div>
  <% } %>
  <% createdPatterns.forEach((cp) => { %>
    <div class="user_show">
      <a href="<%- patternPath(cp) %>"><%- cp.name %></a>
    </div>
  <% }) %>
  <h2>Patrones Utilizados</h2>
  <% if (!usedPatterns.length) { %>
    <div class="user_show">
      <p>No tienes patrones utilizados!<p>
    </div>
  <% } %>
  <% usedPatterns.forEach((up) => { %>
    <div class="user_show">
      <a href="<%- patternPath(up) %>"><%- up.name %></a>
    </div>
  <% }) %>
  <% if (currentUser) { %>
    <% if (currentUser.id === user.id) { %>
      <h2>Mis Patrones Favoritos</h2>
      <% if (!favoritePatterns.length) { %>
        <div class="user_show">
          <p>No tienes patrones favoritos!<p>
        </div>
      <% } %>
      <% favoritePatterns.forEach((fp) => { %>
        <div class="user_show">
          <a href="<%- patternPath(fp) %>"><%- fp.name %></a>
        </div>
      <% }) %>
      <div class="user_show">
        <form action="<%- editUserPath %>">
          <input id="boton" type="submit" value="Editar Perfil" />
        </form>
      </div>
    <% } %>
    <% if ((currentUser.id === user.id) || (currentUser.role === 'admin')) { %>
      <div class="user_show">
        <form action="<%- deleteUserPath %>" onclick="return confirm('Estás seguro?');"
          method="POST">
          <input type="hidden" name="_method" value="delete" />
          <input id="boton" type="submit" value="Eliminar Cuenta" />
        </form>
      </div>
    <% } %>
  <% } %>
  <br><br>
  <div>
    <form action="<%- usersPath %>">
      <input class="boton-material" id="boton-material" type="submit" value="Volver" />
    </form>
  </div>
</div>
