<div class="profile-content">
  <div class="tittle-profile">
    <div class="tittle-name">
      <h1><%- user.username %></h1>
    </div>
    <% if ((currentUser) && (currentUser.id === user.id)) { %>
      <div class="tittle-profile-element">
        <form action="<%- editUserPath %>">
          <input type="hidden" name="_method" value="edit" />
          <button class="edit-profile" type="submit"> <i class="fas fa-user-edit fa-2x"></i> </button>
        </form>
      </div>
      <div  class="tittle-profile-element">
        <form action="<%- deleteUserPath %>" onclick="return confirm('Estás seguro?');"
          method="POST">
          <input type="hidden" name="_method" value="delete" />
          <button class="delete-profile" type="submit"><i class="fas fa-trash-alt fa-2x"></i></button>
        </form>
      </div>
    <% } %>
  </div>
  <div class="profile-data">
    <div >
      <img class="profile-picture" src="<%- user.photo %>">
    </div>
    <div class="profile-things">
        <p class="profile-data-font" id="first">Correo: <%- user.email %></p>
        <p class="profile-data-font" >Edad: <%- user.age %></p>
        <p class="profile-data-font" >Seguidores: <%- user.popularity %></p>
        <% if ((currentUser) && (currentUser.id !== user.id)) { %>
          <div class="follow-form">
            <%- include('_formFollow') %>
          </div>
        <% } %>
    </div>
  </div>
  <% if (createdPatterns.length) { %>
    <div class="own-pattern">
      <h2>Patrones Creados</h2>
      <div class="patterns-content">
        <% createdPatterns.forEach((cp) => { %>
        <div class="pattern-index">
          <div class="pattern-index-element-photo">
            <img class="photo" src="<%- cp.image %>">
          </div>
          <div class="pattern-index-element" id="pattern-name">
            <a class="pattern-name" href="<%- patternPath(cp) %>"><%- cp.name %></a>
          </div>
        </div>
        <% }); %>
      </div>
    <% } %>
    <% if (usedPatterns.length) { %>
      <div class="used-pattern">
        <div>
          <h2>Patrones realizados</h2>
        </div>
        <div class="patterns-content">
          <% usedPatterns.forEach((up) => { %>
          <div class="pattern-index">
            <div class="pattern-index-element-photo">
                <img class="photo" src="<%- up.image %>">
            </div>
            <div class="pattern-index-element" id="pattern-name">
              <a class="pattern-name" href="<%- patternPath(up) %>"><%- up.name %> </a>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    <% } %>
    <% if ((currentUser) && (favoritePatterns.length && currentUser.id === user.id)) { %>
    <div class="favorites-patterns">
      <div>
        <h2>Mis Patrones Favoritos</h2>
      </div>
      <div class="patterns-content">
        <% favoritePatterns.forEach((fp) => { %>
        <div class="pattern-index">
          <div class="pattern-index-element-photo">
              <img class="photo" src="<%- fp.image %>">
          </div>
          <div class="pattern-index-element" id="pattern-name">
            <a class="pattern-name" href="<%- patternPath(fp) %>"><%- fp.name %></a>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
    <% } %>
  </div>
</div>

